html{
    height: 70%;
}

body{
    background: radial-gradient(circle at 300%, #333, #555 50%, #ddd 70%, #333 55%);
    height: 70%;
}

/* Titulo Zurp */
.empresa{
    color: black;
    background-color: yellow;
    border-radius: 2rem;
}

@media(max-width:991px){
    .sidebar{
        background-color: rgba(204, 194, 194, 0.15);
        backdrop-filter: blur(10px);
    }
}

/* Altura mínima do conteúdo principal */
main{
    min-height: 100%;
}

/* Footer */
.redes_sociais a{
    border:none;
    transition: transform 0.60s;
}

.redes_sociais a:hover{
    background-color: #c2bf14;
    transform: translateY(-6px);
}

.navegacao a{
    transition: border-bottom 0.5s;
    border-bottom: 5px solid transparent;
}

.navegacao a:hover{
    border-bottom: 5px solid #ffdf00;
    transition: border-bottom 0.5s;
}

.titulo h1{
    background-color: black;
}

.alert-grey{
    background-color: rgba(167, 165, 165, 0.15) !important;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.15) !important;
}

.alertWidth{
    width: 50vh;
}

footer{
    position: relative;
}