
*{
    margin: 0;
    padding: 0;
}

/* Truque para footer ficar em baixo de todo jeito */
html {
    position: relative;
    min-height: 100%;
}

body{
    background: radial-gradient(circle at 300%, #333, #555 50%, #ddd 70%, #333 55%);
    margin: 0 0 250px;
    padding: 25px;
}

/* Titulo Zurp */
.empresa{
    color: black;
    background-color: yellow;
    border-radius: 2rem;
}
 
@media(max-width:991px){
    .sidebar{
        background-color: rgba(204, 194, 194, 0.15);
        backdrop-filter: blur(10px);
    }
}

/* Footer */
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.redes_sociais a{
    border:none;
    transition: transform 0.60s;
}

.redes_sociais a:hover{
    background-color: #c2bf14;
    transform: translateY(-6px);
}

.navegacao a{
    transition: border-bottom 0.5s;
    border-bottom: 5px solid transparent;
}

.navegacao a:hover{
    border-bottom: 5px solid #ffdf00;
    transition: border-bottom 0.5s;
}

.titulo h1{
    background-color: black;
}

.widthPersonalizado{
    width: 50%;
}

@media(max-width:1030px){
    .widthPersonalizado{
        width: 100%;
    }
}